* {
    box-sizing: border-box;
    margin: 0px;
}
header div p {
    background-color: #222222;
    color: white;
}
header div div {
    background-color: #F0A83E;
    color: white;
    padding: 19px 0px 20px 49px;
}

main section.Fondo {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    height: calc(100vh - 98px);
}