* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam' , sans-serif;
    /* border: 1px solid red; */
}
body {
    width: 1440px;
}
p {
    font-size: 16px;
    color: #B3B2B7;
}

button {
    padding: 12.5PX;
    border-radius: 50px;
    border: none;
    background-color: #F3603B;
    color: #FFFFFF;
    width: 134px;
    height: 44px;
    transition-property: all;
    transition-duration: 1s;
}
button:hover {
    cursor: pointer;
    background-color: rgb(173, 173, 173);
    transform: scale(1.1, 1.1);
    color: white;
}

.boton2 {
    background-color: #FFFFFF;
    color: #F3603B;
    width: 134px;
    height: 44px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    width:90vw;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 160px;
    width: 1110PX;
    


}

header div nav ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;

}
header div nav ul li a {
    padding-right: 28px;
    text-decoration: none;
    color: #242E52;
}
header div nav ul li a:hover {
    opacity: 0.5;
}

.hamburguesa {
    display: none;
    visibility: hidden;
}

header div button {
    position: relative;
    margin-top: -30px;

}


/* main */

/* 1era section */

.primera {
    display: flex;
    justify-content: center;
    color: #232C50;
    margin-bottom: 99px;

    
}

.primerSec {
    width: 555px;
    height: 555px;
}

.primera img {
    width: 555px;
    height: 555px;
}


h1 {
    margin-top: 80px;
    margin-bottom: 28px;
    font-size: 58px;
}
section.primera div p {
    width: 350px;
    line-height: 30px;
    margin-bottom: 28px;
}

/* Segunda section */

.segunda {

    display: flex;
    justify-content: center;
}

.segunda div {
    width: 555PX;
    
}
.segundaSec h2{
    color: #232851;
    font-size: 36px;
    width: 433px;
    margin-bottom: 36PX;
    
}
.texto1 {
    width: 300px;
    padding-bottom: 40px;
}
h3 {
    background-color: #F3603B;
    border-radius: 30px;
    width: 89px;
    height: 43px;
    text-align: center;
    padding-top: 13px;
    margin-right: 23px;
    margin-top: -15px;
    color: #FFFFFF;
}

.segunda article {
    display: flex;
    margin: 25px;
    
}

h4 {
    margin-bottom: 15px;
    color: #323851;
}




/* tercera section */

.tercera {
    margin-top: 132px;
    margin-left: 110px;
    margin-right: 110px;
    text-align: center;
    margin-bottom: 180px;
}

.terceraSec {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;
    
}
.tercera h2 {
    text-align: center;
    color: #232851;
    font-size: 36px;
    margin-bottom: 74px;
}
.terceraSec article {
    text-align: center;
    margin-top: 40px;
    background-color: #FAFAFA;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    padding-top: 40px;
    width: 445px;
}
.terceraSec article img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -40px;
    left: 140px;

}
.terceraSec article h4 {
    margin-top: 21px;
}


/* cuarta section */

.cuarta {
    background-color: #F3613C;
    display: flex;
    justify-content: space-between;
    height: 224px;
    color: #FFFFFF;
    padding-left: 165px;
    padding-right: 175px;
    align-items: center;
}
.cuarta h2 {
    width: 438PX;
    font-size: 40PX;
}

/* quinta Section */

.quinta {
    background-color: rgb(35, 44, 81);
    display: flex;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 175px;
    align-items: center;
}

.primero {
    display: flex;
    flex-direction: column;
    height: 153px;
    justify-content: space-around;
}
.primero div {
    display: flex;
    justify-content: space-between;
}
.primero div a i{
    color: white;
    font-size: 20px;
}
.primero div a i:hover {
    color: #F3613C;

}

.segundo {
    display: flex; 
    color: white;
    line-height: 30px;
    justify-content: space-between;
    width: 392px;
}
.segundo nav ul li:hover {
    cursor: pointer;
    color:#F3613C;
}

.tercero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 213px;
}

.tercero form input{
    border-radius: 50px;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
}


.Go{
    background-color: #F3603B;
    width: 63px;
    border: none;
    color: white;
    transition-property: all;
    transition-duration: 1s;
}
.Go:hover {
    cursor: pointer;
    background-color: #eca18e;
    transform: scale(1.1, 1.1);
}

.copy {
    font-size: 12px;
    position: absolute;
    right: 180px;
}



@media (max-width: 380px) {
    
    body {
        width: 375px;
    }


    /* header */


    header {
        width: 375px;
        display: flex;
        justify-content: space-evenly;                
    }
    div nav ul li a {
        display: none;
        visibility: hidden;
    }
    header .menu {
        display: flex;
    }
    header div button {
        display: none;
        visibility: hidden;
    }
    .logo {
        position: absolute;
        left: 15px;
    }
    .hamburguesa {
        display: inline-block;
        visibility: visible;
        margin-left: 100px;
        height: 24px;
        position: absolute;
        right: 15px;
    }

    /* primera Section */


    .primera {
        display: flex;
        flex-direction: column;
        width: 375px;
        margin-top: 100px;
        }
    
    .primera img {
        order: -1;
    }


    .primerSec{
        width: 375px;
        height: 375px;
        
        }
        
    h1 {
        font-size: 40px;
        width: 350px;
        text-align: center;
        margin-left: 15px;
        }
    section div p {
        width: 300px;
        text-align: center;
        padding-left: 35px;
        margin-left: 15px;
        padding-right: 35px;
    }
    section div button {
        position: absolute;
        left: 124px;
    }

    .boton2 {
        background-color: #FFFFFF;
        color: #F3603B;
        width: 134px;
        height: 44px;
    }
    button {
        padding: 12.5PX;
        border-radius: 50px;
        border: none;
        background-color: #F3603B;
        color: #FFFFFF;
        width: 134px;
        height: 44px;            
    }
    .primera img {
        width: 350px;
        height: 300px;
        padding-left: 25px;
    }


    /* segunda section */


    .segunda {
        width: 375px;
        display: flex;
        flex-direction: column;
    }
    .segundaSec {
        width: 375px;
        text-align: center;
    }
    .segundaSec h2 {
        width: 375px;
    }
    .segunda div {
        width: 375px;
    }
    .texto1 {
        width: 375px;
        margin: 0px;
    }
    section.segunda article {
        width: 375px;
        margin: 0px;
        text-align: center;
    }   
    h3 {
        width: 63PX;
        margin-top: 0px;
        position: absolute;
        margin-left: 15px ;        
    }
    article div h4 {
        padding-left: 85px;
        background-color: rgba(238, 87, 0, 0.1);
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        text-align: left;
    }
    article div p {
        width: 375PX;
        padding-top: 10px;
        padding-bottom: 50PX;
        padding-left: 15px;
        text-align: left;
        margin-left: 0px;
    }


    /* tercera Section */
    
    
    .tercera {
        width: 375px;
        text-align: center;
        margin: 20px 0 20px 0;
    }
    .terceraSec article {
        width: 375px;
        text-align: center;
        padding-bottom: 30px;
    }
    .terceraSec article p {
        text-align: center;
        width: 350px;
    }
    .terceraSec article img {
        left: 150px;
    }


    /* cuarta Section */


    .cuarta {
        width: 375px;
        padding: 15px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 320px;
        padding-bottom: 80px;    
    }
    .cuarta h2 {
        width: 320px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .anisha {
        display: none;
        visibility: hidden;
    }
    .richard {
        display: none;
        visibility: hidden;
    }


    /* Footer */


    .quinta {
        width: 375px;
        display: flex;
        flex-direction: column;
        padding-top: 15px;
    }

    .quinta div {
        text-align: center;
        
    }
    .primero{
        order: 1;
        align-items: center;
        width: 375px;
        padding-bottom: 60px;
    }
    .redes {
        order: -1;
        width: 300px;
        text-align: center;
    }
    .logo2 {
        width: 146px;
        height: 24px;
        text-align: center;
        margin-top: 35px;
    }
    .segundo {
        justify-content: center;
        width: 375px;
        padding: 15px 15px 15px 15px;
        order: 0;
    }
    .segundo nav ul {
        text-align: left;
        padding-right: 15px;
    }
    .tercero {
        order: -1;
        width: 375px;
        height: 100px;
    }
    .mail{
        width: 250px;
    } 
    .copy {
    width: 375px;
    right: -16px;
    top: 2960PX;
    text-align: center;
    }
} 